@tailwind base;
@tailwind components;
@tailwind utilities;

.caro::-webkit-scrollbar {
  display: none;
}

.caro {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
